<div>
  
  <h1>Angular Unity</h1>
  <p>Example showing a Unity view inside Angular</p>
  <ul>
    <!--<li><a href="#demo" (click)="load('demo')">Communication (3MB)</a></li>-->
    <!--<li><a href="#shooter" (click)="load('shooter')">Game (9MB)</a></li>-->
    <!--<li><a href="#chest" (click)="load('chest')">Object Viewer (18MB)</a></li>-->
    <!--<li><a href="#loader" (click)="load('loader')">Object Loader (4MB)</a></li>-->
    <li><a href="#Build" (click)="load('Build')">Object Data (5MB)</a></li>
  </ul>
  <div class="buttons" *ngIf="project=='demo'">
    <button (click)="send('MainObject', 'ReceiveMessageFromWeb', 'Hello from Web')">Send Message</button>
  </div>
  <div class="buttons" *ngIf="project=='shooter'">
    <button (click)="send('Game Controller', 'AddScore', 1)">Add Score</button>
    <button (click)="send('Game Controller', 'GameOver')">End Game</button>
  </div>
  <div class="buttons" *ngIf="project=='loader'">
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Car.obj')">Load Car</button>
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Chair.obj')">Load Chair</button>
    <button (click)="send('ObjController', 'LoadWeb', baseUrl + 'assets/loader/StreamingAssets/Cottage.obj')">Load Cottage</button>
  </div>
  <div class="buttons" *ngIf="project=='Build'">
    <button (click)="send('Main Camera', 'ReceiveMessageFromWeb','Line Graph')">Line Graph</button>
    <button (click)="send('Main Camera', 'ReceiveMessageFromWeb','Bar Chart')">Bar Chart</button>
    <form id="jsonFile" name="jsonFile" enctype="multipart/form-data" method="post">
      <fieldset>
        <h2>Json File</h2>
         <input type='file' id='fileinput'>
         <!--<button (click)="send('Main Camera', 'ReceiveMessageFromWeb', loadFile())">Load</button>-->
         <!--<input type='button' id='btnLoad' value='Load' onclick= "send('Main Camera', 'ReceiveDataFromWeb',loadfile())">"return loadFile()">-->
         <textarea id='jsonReturn' value='blank' rows='10' cols='100'>Blank</textarea>
         <input type='button' id='btnLoad' value='Load' onclick= "loadFile()">
         <br>
         <br>
         <button (click)="data('Main Camera', 'ReceiveDataFromWeb')">Send JSON to Unity</button>
      </fieldset>
    </form>
    
    
  
  </div>
  
</div>


<app-unity #unityView></app-unity>
